html{
    text-align: center;
    background-color:#7FFFD4;
    font-family:"Amatic SC", sans-serif;
    font-size: x-large;
}

.bgbarco{
    background-image:url(images/Barcodevela2.png);
    background-size: cover;
    
}


.bgatard{
    background-image:url(images/AtardecerFondo.png);
    background-size: cover;
}


.bgflores{
    
    background-image:url(images/fondo.png) ;
    background-size: cover;
    padding: 0;
}


.bgdelfin{
    background-image:url(images/FondoDelfin.png);
    background-size: cover;
    padding: 0;
}



header{
    font-size: 4rem;
    padding: 10px;
    
}

.color_de_letra{
    color: rgb(57, 220, 166);
}
.color_de_letra:hover{
    color: rgb(45, 124, 119);
}

.color_de_letra_white{
    -webkit-text-stroke: 0.3px rgb(225, 99, 21);
    color:aliceblue
}


.borderr{
    border-color:#97FFFF;
    border-radius: 10px;
    border-style:outset;
    border-width: 1em;
}
.margin{
    margin: 20px 1px 20px 1px;
}

.bgblack{
    background-color: beige;
    margin: 0px 0px;
    padding: 0%;
}   